<mat-toolbar  id="header" color="primary">
    <mat-toolbar-row class="mat-toolbar-row">
      <span>Estudo Spring Angular</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>login</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" (click)="deslogar()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-toolbar-row">
        <app-meu-menu></app-meu-menu>




    </mat-toolbar-row>
  </mat-toolbar>

<mat-card-content id="content">
  <router-outlet></router-outlet>
</mat-card-content>


<footer id="footer" class="fixar-rodape">
  <label>Usuário : {{ displayUser }}</label>
</footer>

