<p>
  <mat-toolbar color="primary">
    <!--
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    -->
    <mat-toolbar-row class="mat-toolbar-row">
      <span>My App</span>
      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon" (click)="deslogar()">
        <mat-icon>logout</mat-icon>
      </button>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-toolbar-row">


        <app-meu-menu></app-meu-menu>

    </mat-toolbar-row>

  </mat-toolbar>
</p>
<mat-card-content>
  <router-outlet></router-outlet>
</mat-card-content>
