<mat-card class="mat-card">
  <mat-card-header>
    <mat-toolbar class="toobarSecondary">
      Grupo - ( {{ telaDe }} )
    </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formGrupo">

      <mat-form-field class="full-width" appearance="fill">
        <mat-label for="grupoid">Grupo</mat-label>
        <input matInput type="number"   min="1" max="99" id="grupoid" placeholder="Grupo" formControlName="codigoGr"/>
        <mat-error *ngIf="formGrupo.get('codigoGr')?.invalid"> {{ getErrorMessage('codigoGr') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label for="nameid">Titulo do Grupo</mat-label>
        <input matInput placeholder="titulo do Grupo" formControlName="descGr" #vdesc />
        <mat-hint align="end">{{ vdesc.value.length || 0 }}/49</mat-hint>
        <mat-error *ngIf="formGrupo.get('descGr')?.invalid"> {{ getErrorMessage('descGr') }} </mat-error>
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions class="bt-container">
    <button mat-raised-button [disabled]=formGrupo.invalid (click)="onSubmit()" color="primary"
      style="margin: 1px">
      <mat-icon>save</mat-icon>
      Salvar
    </button>

    <button mat-raised-button (click)="onCancel()" style="margin: 1px; background-color: #00E5FF;">
      <mat-icon>cancell</mat-icon>
      Cancelar
    </button>
  </mat-card-actions>

  </mat-card>
