<mat-card class="mat-card">
  <mat-card-header>
  <mat-toolbar class="toobarSecondary">
    <span>Cadastro de Usuarios</span>
    <span class="spacer"></span>
    <button mat-mini-fab color="primary" aria-label="Inclusão de Usurios" [routerLink]="['/home']">
      <mat-icon >home</mat-icon>
    </button>
    <button mat-mini-fab color="primary" aria-label="Inclusão de Usurios" (click)="onAdd()">
      <mat-icon >add</mat-icon>
    </button>
  </mat-toolbar>
</mat-card-header>

<mat-card-content>
  <div class="column-flex mat-elevation-z8">

  <app-usuarios-list
     *ngIf="usuariosdb$ | async as usuariosdb; else loading"
     [usuariosdb]="usuariosdb"
     (add)="onAdd()"
     (edit)="onEdit($event)"
     (deluser)="onDelete($event)"

     > </app-usuarios-list>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>
</mat-card-content>
</mat-card>
