<div>
<button mat-button [matMenuTriggerFor]="cadastros">Cadastro</button>

<mat-menu #cadastros="matMenu">
<button mat-menu-item [routerLink] ="['userTela']">User</button>
<button mat-menu-item [routerLink] ="['holdTela']">Holding</button>
<button mat-menu-item [routerLink] ="['filialTela']">Filial</button>
<button mat-menu-item [routerLink] ="['osfilialTela']">Contrato (OS)</button>
</mat-menu>

<!--
<mat-menu #programer="matMenu" >
  <button mat-menu-item [routerLinkActive] ="['/userTela']">Inclusão</button>
  <button mat-menu-item>Consulta</button>
</mat-menu>
-->
</div>
