<div>
<button mat-button [matMenuTriggerFor]="cadastros">Cadastro</button>
<button mat-button [matMenuTriggerFor]="util">Utilitarios</button>


<mat-menu #cadastros="matMenu">

<button mat-menu-item [routerLink] ="['holdTela']">Holding</button>
<button mat-menu-item [routerLink] ="['filialTela']">Filial</button>
<button mat-menu-item [routerLink] ="['colabTela']">Colaborador</button>
<button mat-menu-item [routerLink] ="['userTela']">User</button>
<button mat-menu-item [routerLink] ="['osfilialTela']">Contrato (OS)</button>
<button mat-menu-item [routerLink] ="['grupoTela']">Grupo</button>
</mat-menu>

<mat-menu #util="matMenu">
  <button mat-menu-item >Importar Colaborador</button>


</mat-menu>




<!--
<mat-menu #programer="matMenu" >
  <button mat-menu-item [routerLinkActive] ="['/userTela']">Inclusão</button>
  <button mat-menu-item>Consulta</button>
</mat-menu>
-->

</div>
