<div>
  Pesquisar pela Razão Social
</div>

<span class="spacer"></span>

<mat-form-field class="full-width" appearance="fill">
  <mat-label for="idrsocial">Razão Social</mat-label>
  <input matInput id="idrsocial" placeholder="Digite aqui" #input [formControl]="queryField">
</mat-form-field>



<div *ngIf="filialdb$ | async as filialdb">

  <table mat-table [dataSource]="filialdb" class="mat-elevation-z8">

    <ng-container matColumnDef="rsocial">
      <mat-header-cell  *matHeaderCellDef> RAZÃO SOCIAL </mat-header-cell>
      <mat-cell  *matCellDef="let filial"> {{filial.rsocial}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dsocial">
      <mat-header-cell  *matHeaderCellDef> CONTRATO </mat-header-cell>
      <mat-cell  *matCellDef="let filial"> {{filial.dsocial}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cnpj">
      <mat-header-cell  *matHeaderCellDef> CNPJ </mat-header-cell>
      <mat-cell  *matCellDef="let filial"> {{filial.cnpj}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="municipio">
      <mat-header-cell  *matHeaderCellDef> MUNCIPIO </mat-header-cell>
      <mat-cell  *matCellDef="let filial"> {{filial.municipio}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="uf">
      <mat-header-cell *matHeaderCellDef> UF </mat-header-cell>
      <mat-cell  *matCellDef="let filial"> {{filial.uf}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell  *matHeaderCellDef> AÇÕES </mat-header-cell>
      <mat-cell  *matCellDef="let filial" >
      <button mat-mini-fab color="primary" aria-label="Editar" (click)="onEdit(filial)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" aria-label="Deletar"  (click)="onDelete(filial)">
          <mat-icon>delete</mat-icon>
      </button>

      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
