/* You can add global styles to this file, and also import other style files */

@import '@angular/material/theming';
@include mat-core();


$custom-app-primary:mat-palette($mat-gray, 900);
$custom-app-secondary:mat-palette($mat-brown, 600);
$custom-app-warn: mat-palette($mat-red, A200, A400, 500);

$custom-theme: mat-light-theme((
  color:(
    primary: $custom-app-primary,
    accent : $custom-app-secondary,
    warn   : $custom-app-warn),
));

@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #A1887F;
 }


#wrapper {
  height: 100%;
}
#header {
  height: 10%;
  margin-bottom: 0%;
}
#content {
  height: 85%;

  overflow: auto;

}

#footer {
  height: 5%;
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.toobarSecondary{
  background-color:#B0BEC5 ;
}

.gbtnSec{
  background-color: white;
}
