.mat-card{
  max-width: 90%;
  min-width: 150px;
  margin: 1em auto;
  //text-align: center;
}


.full-width{
  width: 50%;
}

.full-width33{
  width: 33%;
}

.divcentro{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.bt-container{
  display: inline;
  text-align: right;
}
