<div *ngIf="almoxSubDb$ |async as subDb">
  <table mat-table [dataSource]="subDb" class="mat-elevation-z8">
    <<ng-container matColumnDef="tituloSubdto">
      <mat-header-cell *matHeaderCellDef> Titulo </mat-header-cell>
      <mat-cell *matCellDef="let obj"> {{ obj.tituloSubdto }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="isAtivodto">
        <mat-header-cell *matHeaderCellDef> Ativo </mat-header-cell>
        <mat-cell *matCellDef="let obj"> {{ obj.isAtivodto==true?'SIM':'NÃO' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isOnLine">
        <mat-header-cell *matHeaderCellDef> OnLine </mat-header-cell>
        <mat-cell *matCellDef="let obj"> {{ obj.isOnLine==true?'SIM':'NÃO' }} </mat-cell>
      </ng-container>

       <ng-container matColumnDef="almoxarifadodto">
        <mat-header-cell *matHeaderCellDef> Almoxarifado </mat-header-cell>
        <mat-cell *matCellDef="let obj"> {{ obj.almoxarifadodto.titulodto }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> AÇÕES </mat-header-cell>
        <mat-cell *matCellDef="let obj">
          <button mat-mini-fab color="primary" aria-label="Editar" (click)="onEdit(obj)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" aria-label="Deletar" (click)="onDelete(obj)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </table>
</div>
